@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  margin:0;
  box-sizing: border-box;
  padding:0px;
  
}
body{
  background-color: #050709;
  
}
html{
  scroll-behavior: smooth;
}


/*variables*/
:root{
  --font-size-titles: 90px;
  --font-size-subtitles: 43px;
  --font-size-h3:32px;
  --font-size-description:18px;
  --font-family-titles: 'IBM Plex Serif', serif;
  --font-family-description:'Poppins', sans-serif;
  --font-weight-titles: 500;
  --font-weight-description:300;
  --verde:#33FFBB;
  --bg-alternative:#230A33; 


}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-family-titles);
  text-transform: uppercase;
  font-weight: var(--font-weight-titles);
}
h1{
  font-size: var(--font-size-titles);
  text-transform: uppercase;
  letter-spacing: 6px;
  
}
h2{
  font-size: var(--font-size-subtitles);
  letter-spacing: 2px;
  
}
h3,h4,h5,h6{
  font-size: var(--font-size-h3);
}
p,span{
  font-family: var(--font-family-description);
  font-size: var(--font-size-description);
  font-weight: var(--font-weight-description);
}
a,  button {
  font-family: var(--font-family-titles);
  font-size: var(--font-size-description);
  text-transform: uppercase;
}
li{
  font-size: var(--font-size-subtitles);
  text-transform: uppercase; 
}
span.h2-span{
  font-size: var(--font-size-subtitles);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-description);
  color: #fff;
}

/* cambio de idioma */

.switch-container {
  display: flex;
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 90;
}



.lbl{
  display: inline-block;
  width: 65px;
  height: 33px;
  background-image: url(./assets/imagenes/Flag_of_Argentina.svg.png);
  background-position: right;
  background-size: cover;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: .2s;

}
 
.lbl::after{
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  position: absolute;
  
  background:var(--verde);
  top: 4px;
  left: 4px;
  transition: .2s;

}

#switch:checked + .lbl::after{
  left: 36px;

}

#switch:checked + .lbl{
  /* background: #f1f1f1; */
  background-image: url(./assets/imagenes/Flag_of_the_United_States.svg.png);
  background-position: center;
  background-size: cover;
}

#switch{
  display: none;
}

/*loader*/
#loader{
  background: #2E1941 url('./assets/gifs/habla-tinta2.gif') no-repeat center center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-size: 8%;
  animation: 1600ms 500ms ease-in  slideInFromLeft;
  -moz-animation:1600ms 500ms ease-in  slideInFromLeft;
  -o-animation:1600ms 500ms ease-in  slideInFromLeft;
  -webkit-animation:1600ms 500ms ease-in  slideInFromLeft;
  
  

}
@media only screen  and (max-width:768px){
  #loader{
    display: none;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: (0);
  }
  100% {
    transform: translateY(-100%);
  }
}
/*opening section */


section.opening{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 550px;
  height: 100vh;  
  position: relative;
  background-image: url(./assets/imagenes/header2.jpg);
  background-size: cover;
  background-position: center;
}


.arrow-up{
  display: none;
  position: fixed;
  bottom:3rem;
  right:3rem;
  width:80px;
  height: 80px;
  
}
.arrow-up img.up{
  filter: invert(1);
  cursor: pointer;
}
.header{
  width:100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.header .button-container{
  
  padding-bottom: 50px;
  text-align: center;
  
}

.subtitle{
  color:#fff;
  font-size: var(--font-size-h3);
  margin-bottom: 32px;
  
}



h1{
  color: #fff;
  font-size: var(--font-size-titles);
  width: 100%;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-left:20px;


}
h1.focus-in-contract {
-webkit-animation: focus-in-contract 2.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both  ;
        animation: focus-in-contract 2.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
}
/* ----------------------------------------------
* Generated by Animista on 2023-2-10 22:21:55
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation focus-in-contract
* ----------------------------------------
*/
@-webkit-keyframes focus-in-contract {
  30% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  30% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


section.opening div.button-container a{
  min-width: 271px;
  padding:21px 22px;
  margin-left:20px;
}
video {
  position: absolute;
  object-fit:cover;
  width:100%;
  height:100%;
  top: 0;
  z-index: -1;    
}



ul li.items{
  color:#fff;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-weight: 700;
  padding:0 20px;
}

span.after{
  display: block;
  width:0%;
  height: 1px;
  background-color: var(--verde);

}
li.items:hover span.after{
  width:100%;
  transition: width 800ms;
}


ul.nav{
  display:none;
  justify-content: space-around;
  text-decoration: none;
  padding-top:20px;
  max-width: 1200px;
  position: absolute;
  top: 15px;
  right: 5%;    
  z-index: 99;

  

}
ul.nav a{
  text-decoration: none;
  color:#fff;
}
.ham {
display: none;
cursor: pointer;
border: none;
margin: 0;  
padding: 0;  
background-color: transparent;
z-index: 99;
background-color:var(--bg-alternative);
border-radius: 50%;
width:55px;
padding: 5px;
}

.ham span.br{
 display: block;
 background-color: var(--verde);
 height: 3px;
 width: 32px;
 margin: 7px auto;
 border-radius: 2px;

  
} 
.rotate-top{

  transform: translateY(10px) rotate(45deg);
  
}
.rotate-bottom{

  transform: translateY(-10px) rotate(-45deg);
}
.rotate-center{
  visibility: hidden;
}

a.logo img{
  width:100%;
  max-width: 210px;
  height: auto;
  position: absolute;
  top:20px;
  left: 20px;
  z-index: 99;
}

a.light{
  text-decoration: none;
}
/*sidebar*/
section.side-bar{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
 
  
  position: fixed;
  top: 0;
  right:0;
  z-index: 99;
  padding: 20px 10px;
  

}
section.side-bar:hover{
  background-color: #2E1941;
  /* background: rgb(46,25,65);
  background: linear-gradient(90deg, rgba(46,25,65,0.9) 0%, rgba(46,25,65,1) 30%,rgba(46,25,65,1) 60%, rgba(0,0,0,1) 99%); */
  transition: background 1s ease;
}
section.side-bar:hover .nav-item-container img{
  filter: invert(0);
 
}
section.side-bar:hover li.items-side{
  width: 260px;
}

.nav-side{
  list-style: none;
  height: 100vh;
  padding-bottom: 30px;
  overflow: hidden;
  

}
li.items-side{
  height: 20%;
  width: 65px;
  transition: width 1.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
 
}
li.items-side img{
  width: 50px;
  height: 50px;
}
img.cara-side{

  filter: invert(0)!important;
}
li.items-side:last-child img.logo-side{
  width: 200px;
  
  
}
.nav-side:hover li.items-side:last-child img.cara-side{
  display: none;
}
li.items-side:last-child:hover .nav-item-container{
  background-color: transparent;
  padding: 10px 20px 10px 0px;
  border-radius: 20px;
}
li.items-side:last-child .nav-item-container img.logo-side{
  filter: invert(0);
 
}
a.nav-item-side{

  color:#fff;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
}

li.items-side:hover{
 width: 260px;
}
div.nav-item-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
li.items-side:hover .nav-item-container{
  background-color: var(--verde);
  padding: 10px 20px;
  border-radius: 20px;
 
}
li.items-side:hover .nav-item-container img{
  filter: invert(0);
 
}
div.nav-item-container img{
  filter: invert(1);
}





/*button styles*/

a.light , button.light{
  display: inline-block;
  border:2px solid #fff;
  color:#fff;
  background-color: transparent;
  padding:21px 42px;
  font-family: var(--font-family-titles);
  font-weight: 700;
  margin-top:21px;
  cursor: pointer;
  text-decoration: none;
}



a.light:hover, button.light:hover{
  background-color: #fff;
  color: #33FFBB;
}
a.light:hover a{
  
  color: #33FFBB;
}
a.dark{
  text-decoration: none;
  display: inline-block;
  border:2px solid #33FFBB;
  color:#33FFBB;
  background-color: transparent;
 
  padding:21px 42px;
  font-family: var(--font-family-titles);
  font-weight: 700;
  margin-top:21px;
  cursor: pointer;
}
a.dark:hover{
  background-color: #33FFBB;
  color: #fff;
}
/*about section*/

section.about{
  height: 100%;
  min-height: 500px;
  background-color: #050709;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding:96px 40px;
}
a.cv{
  color: #000;
  text-decoration: none;
}

div.bio p{
  color: #fff;
  font-family: var(--font-family-description);
  font-size:var(--font-size-description);
  line-height: 32px;

}
.text-highlighter{
  color: var(--verde);
  font-family: var(--font-family-description);
  font-size:var(--font-size-description);
  line-height: 32px;
  font-weight: 700;
}

div.bio h2{
  color:var(--verde);
  padding-bottom: 21px;
  font-size: var(--font-size-subtitles);
  font-family: var(--font-family-titles);
}


div.bio{
  margin:0 auto;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 41px;
  
}


/*member images cvs*/
.members{
  width:100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  

}

.member{
  width: 400px;
  height: 400px;
  position: relative;
  
}
.member .face{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0s;
  -webkit-transition: transform 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.member .front{
  transform:rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  perspective: 600px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
}


img.member-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back .rol{
  font-size: var(--font-size-h3);
  width: 100%;
  color:#000;
  text-align: center;
}



.member .back{
  opacity: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
   transition: opacity 1s ease-in-out;
} 

.member:hover .back{
  opacity: .9;
}
/*tecnologias*/



.slider{
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding-bottom: 96px;

}

.slider .slide-track{
  display:flex;
  animation: scroll 30s linear infinite;
  -webkit-animation:scroll 30s linear infinite;
  width: calc(200px * 14);
}

.slider .slide{
  width: 200px;
  height: 200px;
  position: relative;
}


.slider .slide img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px;
}

@keyframes scroll{
  0%{
      transform: translateX(0);
      -webkit-transform: translateX(0);
  }
  100%{
      transform: translateX(calc(-200px * 7));
      -webkit-transform: translateX(calc(-200px * 7));
  }
}

h2{
  color: var(--verde);
  text-align: center;
  margin-bottom: 21px;
  text-transform: uppercase;

}


/*portfolio 2.0*/
a.link-portfolio:hover ul li button.light{
  background-color: #fff;
  color: #33FFBB;
}
div.swiffy-slider{
  position: relative;
  width: 80%;
  margin: auto;
}
h2.portfolio-title{
 color:var(--verde);
 text-align: center;
 
}

section.portfolio2{
  background-color: #000;
background-image: url(./assets/imagenes/portfolio.jpg);
background-attachment: fixed;
background-size: cover;
  padding:96px 0;
  

}
ul.portfolio-description{
  position: absolute;
  color:#fff;
  bottom: 2rem;
  left: 15%;
  list-style: none;
}
ul.portfolio-description a{
   text-decoration: none;
}
ul.portfolio-description a:hover{
  color:#33FFBB;
}
ul.portfolio-description button:hover a{
  color: #33FFBB;
}
ul.slider-container img{
   opacity: 1;
   
}

ul.portfolio-description li{
  font-weight: 700;
  font-size: 26px;
  text-align: start;
  
  
}
li.portfolio-img{
  text-align: center;
}
div.portfolio-button{
  display: flex;
  justify-content: center;
}
img.close{
  filter: invert(1);
  width: 30px;
  cursor: pointer;
}
p.close{
  position: absolute;
  top:3rem;
  right: 10%;
}
/*portfolio popup */
section.portfolio-popup{
  background-color: rgba(0,0,0,0.95);
  height: 100%;
  width: 100vw;
  padding: 136px 0;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  display: none;
  z-index: 9999;
}
section.portfolio-popup.active{
  display: block;
}
section.portfolio-popup h2{
  color: var(--verde);
}

div.list-portfolio-item{
  width: 50%;
  max-width:500px;
  height: auto;
  padding: 40px;

}
div.list-portfolio-item p{
  color: #fff;
  font-size: var(--font-size-description);
}
div.list-portfolio-item h3{
  color: #fff;
  font-size: var(--font-size-subtitles);
}
div.list-portfolio-item img.list-portfolio-img{
  width: 100%;
  height: auto;

}
div.list-portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  margin: auto;

}
div.list-portfolio-item a:hover{
  color:#33FFBB;
}
div.list-portfolio-item button:hover a{
  color: #33FFBB;
}
div.list-portfolio-item a{
  text-decoration: none;
}

/*services*/
section.services{
  padding: 96px 40px 42px;
  
}
section.services h2{
  padding-bottom: 51px;
  color:var(--verde);
}
div.service{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1000px;
  padding-bottom: 48px;
  
}
div.service-image{
  width:50%;
  height: 100%;
  max-height: 100%;
  text-align: center;
  
  
}
div.service-image img{
  width: 100%;
  height: 100%;   
}
div.service-content{
  width:50%;
  margin: auto; 
  max-width: 600px;
  padding-left: 24px;

}
#services > div:nth-child(3) > div.service-content{
  padding-left: 0px;
  padding-right: 24px;   
}
div.service-content h3{
  color:#fff;
  padding-bottom: 21px;
  text-align: center;
  
  
}
div.service-content p{
  font-size: var(--font-size-description);
  text-align: center;
  color:#fff;
  
}

/*footer*/

footer{
  background-color: #000;
  background-attachment: fixed;
  height: 100%;
  
  padding: 25px 50px 25px;
}
div.contact{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  max-width: 1000px;
  margin: auto;
  
}
div.contact:nth-child(1){
  padding-bottom: 21px;
}
div.contact div.phone{
  width:30%;
}
div.contact .social-media img{
  width:50px;
  padding-right: 10px;
}
footer > div:nth-child(2) > div.phone{
  margin-left:-35px;
}
footer h4{
  color: #fff;
  padding-top: 21px;
  font-size: 22px;
  
}
footer h3{
  padding-bottom:31px;
  font-size:43px;
}
footer h5, a.footer-link{
  color:#fff;
  font-size:18px;
}
footer .credit{
  font-size:14px;
  padding-top:21px;
  display: block;
  text-align: center;
}
/*form*/
img.close-contact{
  filter: invert(1);
  width: 30px;
  cursor: pointer;
  
}
p.close-contact{
  position: absolute;
  top:3rem;
  right: 10%;
}
.contact-form{
  background-color:rgb(0,0,0,0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  display:none;
  z-index: 9999;
  
}
div.contact-form.active{
  display: block;
}
div.form{
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: #050709;
  padding:60px;
  overflow-y: scroll;
}
div.container-form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form input, label, textarea{
  display: block;
  color: #fff;
}
form{
  margin: auto;
}
h3.form-titles{
  color:var(--verde);
  max-width: 800px;
  text-align: center;
  padding: 21px;
  width: 100%;
  margin: auto;
}
p.form-titles{
  font-size: 22px;
  color:#fff;
  max-width: 800px;
  text-align: center;
  padding: 21px;
  width: 100%;
  margin: auto;
}
input.dark{
  border-color:#fff;
  color:#fff;
  background-color: transparent;
  padding:21px 42px;
  font-family: var(--font-family-titles);
  font-weight: 700;
  margin-top:21px;
  margin: auto;
  font-size: var(--font-size-description);
  text-transform: uppercase;
  
}
.input-field{
  position: relative;
}

.input-field input{
  width:100%;
  margin: 40px auto;
  border: 1px solid var(--verde);
  padding:5px;
  border-radius: 10px;
  background-color: transparent;
  height:50px;
  outline: none;
  font-size: 18px;
  color: #fff;
  transition: 0.2s;
}
.input-field label{
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 25px;
  color:var(--verde);
  pointer-events: none;
  transition: 0.2s;

}

.input-field input:focus ~ label, .input-field input:valid ~ label {
  top:-50px;
  left:0;
  color: #9391b3;
  font-size: 20px;
}

.input-field input:focus{
  border-color:var(--verde);
  background-color: #242029;
}

.field{
  width:60%;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding:5px;
  border-radius: 10px;
  background-color: transparent;
  height:50px;
}

label{
  width: 60%;
  margin: auto;
  padding-bottom: 11px;
  padding-top: 21px;
}
textarea{
  width:100%;
  margin: 40px auto;
  border: 1px solid var(--verde);
  padding:5px;
  border-radius: 10px;
  background-color: transparent;
 
  outline: none;
  font-size: 30px;
  color: #fff;
  transition: 0.2s;
  
}
.input-field textarea:focus ~ label, .input-field textarea:valid ~ label {
  top:-50px;
  left:0;
  color: #9391b3;
  font-size: 20px;
}
.input-field textarea:focus{
  border-color:var(--verde);
  background-color: #242029;
}

span.success{
  width:60%;
  margin: auto;
  background-color: rgb(8, 99, 8);
  color: #fff;
  padding: 21px 43px;
  display: none;
  text-align: center;
  font-size:22px;
  margin-bottom:21px;
  text-decoration: uppercase;

}

span.success.active{
  display: block;
}
#warning{
  width:60%;
  margin: auto;
  background-color: rgb(252, 72, 72);
  color: #fff;
  
  text-align: center;
  font-size:22px;
  margin-bottom:21px;
  text-decoration: uppercase;
}
input.dark:hover{
  background-color: #fff;
  color: var(--verde);
}
.img-contact{
  width: 20px;
  position: absolute;
  top: 10px;
  right: 30px;
  display: none;
  
}
.img-contact.active{
  display: block;
}
/*wwu*/
section.wwu{
  background-image: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 50%), url(./assets/imagenes/wwu.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wwu .wwu-container{
  width: 100%;
  max-width:550px;
  text-align: center;

}

.wwu p{
  font-size: 22px;
  padding: 22px;
  color: #fff;
}

.wwu h2{
  font-size: var(--font-size-subtitles);
}